body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.prof h2{
color: blue;
text-align: center;
}
#loader{
width: 100px;
height: 100px;
}
.spinner-grow {
    --bs-spinner-width: 6rem !important;
    --bs-spinner-height: 6rem !important;
}
#main{
    display: none;
}